<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div th:replace="fragments/common :: header(${requestFrom})">-- thymeleaf header will be inserted here. --</div>


        <div class="row">
            <div class="col-md-6">
                <h2 th:text="${boardTitle}">자유게시판</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- 목록 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>수정일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td th:text="${post.id}">0</td>
                            <td><a th:text="${post.title}" th:href="${'/' + requestFrom + '/view/' + post.id}">title</a></td>
                            <td th:text="${post.author}">author</td>
                            <td th:text="${#strings.arraySplit(post.modifiedDate,'T')[0]}"
                                th:title="${#strings.arraySplit(post.modifiedDate,'T')[0]}
                                + ' ' +${#strings.arraySplit(post.modifiedDate,'T')[1]}">2000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:text="${pageList}">

        </div>

        <div class="row" th:if="${pageInfo ne null}">
            <div class="col-12">
                <ul class="pagination pagination justify-content-center">
                    <li class="page-item" th:classappend="${!pageInfo.isPrevExist} ? disabled">
                        <a class="page-link" href="#" th:href="${pageInfo.isPrevExist ? '/?page=' + (pageInfo?.pageList[0] - 1) : ''}">&laquo;</a>
                    </li>
                    <li th:each="num: ${pageInfo.pageList}" class="page-item" th:classappend="${pageInfo.currentPageNum eq num} ? active">
                        <a class="page-link" href="#" th:href="${'/?page=' + num}" th:text="${num}"></a>
                    </li>

                    <li class="page-item" th:classappend="${!pageInfo.isNextExist} ? disabled">
                        <a class="page-link" href="#" th:href="${pageInfo.isNextExist ? '/?page=' + (pageInfo?.pageList[0] + 5) : ''}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div th:if="${not #strings.isEmpty(userName)}">
                    <img style="width:45px; height:45px" src="/image/unnamed.png" th:src="${userImg}"
                         class="rounded-circle img-thumbnail img-responsive">
                    <a id="login-user" th:text="${userName + ' (' + userEmail + ')'}" th:href="${'mailto:' + userEmail}">사용자</a> 님, 안녕하세요.
                    <a href="/logout" class="btn btn-sm btn-info active" role="button">Logout</a>
                </div>

                <div th:if="${#strings.isEmpty(userName)}">
                    <!-- 스프링 시큐리티에서 기본 제공하는 URL - 별도 컨트롤러 작성 필요 없음 -->
                    <a href="/oauth2/authorization/google" class="btn btn-sm btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" role="button"><img src="./nid-button.png" th:src="@{/img/nid-button.png}" alt="네이버 아이디로 로그인" title="네이버 아이디로 로그인" style="height: 30px;"></a>
                </div>
            </div>
            <div th:if="${isAllowWrite}" class="col-md-2">
                <a th:href="${'/' + requestFrom + '/save'}" role="button" class="btn btn-primary float-right">글 등록</a>
            </div>
        </div>

        <div th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</div>
    </div>

</body>
</html>