<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body th:data-write-to="${requestFrom}">
    <div class="container">
        <div th:replace="fragments/common :: header(${requestFrom})">-- thymeleaf header will be inserted here. --</div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1>게시글 등록</h1>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label class="col-form-label" for="input-title">제목</label>
                    <input type="text" class="form-control" placeholder="제목을 입력하세요." id="input-title">
                    <input type="hidden" id="user-id" th:value="${userId}">
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="input-author">작성자</label>
                    <input type="text" class="form-control" placeholder="작성자를 입력하세요." id="input-author" th:value="${userName}" readonly>
                </div>

                <div class="form-group">
                    <label for="txt-content">내용</label>
                    <textarea class="form-control" id="txt-content" rows="3" placeholder="내용을 입력하세요."></textarea>
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>

        <div th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</div>
    </div>

</body>
</html>